body {
    margin: 0;
    padding: 0;
    height: 790px;
}

/* Последняя ссылка так же с отступом, потому елементы не совсем по центру */
.ht {
    margin-right: 70px;
    color: #16a085;
    font-size: 18px;
    text-decoration: none;
    font-family: sans-serif;
}


.top-menu {
    font-size: 18px;
    font-weight: bolder;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}
/* У меня не получилось задать для пустого DIVа что бы он занимал всю ширину
окна, потому ширина фона 1200рх и по высоте фон обрезан автоматически.   */

.photo {
    height: 300px;
    background-size: cover;
    background-image: url(../img/hw1.jpg);
    background-position: center;

}

.text {
    background-color: #f5f6f7;
    padding: 20px 110px 95px;
}
.title  {
    font-family: sans-serif;
    font-size: 22px;
    text-align: center;

}
.text-all {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bolder;

}

.but {
    width: 190px;
    border: 1px #16a085 solid;
    border-radius: 3px;
    background-color: #16a085;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;


}
.get {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: auto;
    padding: 10px 25px;

}

.bottom-text {
    text-align: right;
    padding-right: 100px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bolder;
}